/* MovieDetails.css */
.movie-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px;
  }
  .back-btn{
    margin-left: 75px;
  }
  
  .movie-image {
    border-radius: 7px;
    max-width: 100%;
  }
  
  .movie-content {
    width: 60%;
    margin-top: 25px;
  }
  
  .sub-movie-content > .year,
  .sub-movie-content > .length,
  .sub-movie-content > .language,
  .sub-movie-content > .release-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sub-movie-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 45px;
  }
  
  .rating {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .rating > span {
    margin-left: 10px;
  }
  
  span {
    color: grey;
  }
  
  .movie-content > .overview,
  .movie-content > .genre {
    margin-top: 19px;
    margin-bottom: 15px;
  }

.back-btn{
    background-color: blue;
    color: #fff;
    border: none;
  }

.back-btn:hover{
    background-color: #fff;
    color: blue;
    border: none;
}
  
  @media (min-width: 320px) and (max-width: 767px){
    .back-btn{
        margin-left: 25px;
      }
    .movie-details {
        display: flex;
       flex-direction: column;
        padding: 25px;
      }
      .movie-content {
        width: 100%;
        margin-top: 25px;
      }
      .sub-movie-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin-top: 45px;
      }
      .sub-movie-content > .year,
  .sub-movie-content > .length,
  .sub-movie-content > .language,
  .sub-movie-content > .release-date {
    margin-top: 15px;
  }
    
  }




  /* Media Queries */
  /* @media screen and (max-width: 1200px) {
    .movie-content {
      width: 70%;
    }
  } */
  
  /* @media screen and (max-width: 768px) {
    .movie-details {
      padding: 50px 20px;
    }
  
    .sub-movie-content {
      flex-direction: column;
      align-items: center;
    }
  
    .sub-movie-content > .year,
    .sub-movie-content > .length,
    .sub-movie-content > .language,
    .sub-movie-content > .release-date {
      /* text-align: center; */
    }
  } */
  