.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    gap: 25px;
}

.search-field{
    background-color: #242424; ;
    padding: 10px;
    margin-top: 35px;
    width: 70%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(34, 32, 32);
}

.search-field >input{
    width: 90%; 
    padding: 10px;
    outline: none;
    background-color: #242424;;
    color: grey;
}

.search-icon{
    color: black;
}

@media (min-width: 320px) and (max-width: 767px){
    .search-field{
        background-color: #242424; ;
        padding: 7px;
        margin-top: 35px;
        width: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(34, 32, 32);
    }  
}