#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.trending-movies > h2 {
  font-size: 25px;
  margin: 45px;
  
}

.No-image{
  text-align: center;
}





